.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;  
}

.logo {  
  margin-left: 2rem;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  list-style-type: none;
  column-gap: 3rem;
}

.links a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  text-shadow: 0 0 15px #000;  
}

.links a:hover {
  color: yellow; 
}

.btn-dashboard {
  margin-right: 2rem;  
}

.btn-dashboard button {
  background: #363333;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
}