.container {
  text-align: center;
}

.bestway {
  color: #fff;
  font-size: 2rem;
}

.trackyour {
  background: -webkit-linear-gradient(180deg, #9a9ac0 0%, #4e63dd 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.homeparagraf {
  color: #a3a3a3;
  font-size: 0.8rem;
  padding: 1rem 2rem;
}

.btn-trythisapp {
  background-color: #0000ff;
  border-radius: 15px;
  border: 0.2rem solid transparent;
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem 2.2rem;
  margin-bottom: 0.5rem;
}

.btn-trythisapp:hover,
.btn-trythisapp:active {
  cursor: pointer;
  background-color: #0000ff;
  border-radius: 15px;
  border-style: none;
  border: 0.2rem solid rgb(158, 193, 202);
  color: rgb(245, 241, 14);
  font-size: 1rem;
  padding: 0.8rem 2.2rem;
}

@media (min-width: 700px) {
  .bestway {
    font-size: 1.7rem;
  }
  .trackyour {
    font-size: 1.7rem;
  }
  .homeparagraf {
    padding: 0.5rem 2rem;
  }
  .btn-trythisapp {
    background-color: #0000ff;
    border-radius: 15px;
    border: 0.2rem solid transparent;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.5rem;
  }

  .btn-trythisapp:hover,
  .btn-trythisapp:active {    
    background-color: #0000ff;    
    border-style: none;
    border: 0.2rem solid rgb(158, 193, 202);
    color: rgb(245, 241, 14);
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
}

@media (min-width: 700px) {
  .bestway {
    font-size: 2rem;
  }
  .trackyour {
    font-size: 2rem;
  }
  .homeparagraf {
    padding: 1rem 3rem;
    font-size: 0.8rem;
  }

  .btn-trythisapp {
    padding: 0.5rem 1.8rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .btn-trythisapp:hover,
  .btn-trythisapp:active {
    padding: 0.5rem 1.8rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .bestway {
    font-size: 2.7rem;
  }
  .trackyour {
    font-size: 2.7rem;
  }
  .homeparagraf {
    padding: 1rem 3rem;
    font-size: 1.2rem;
  }

  .btn-trythisapp {
    padding: 0.8rem 1.8rem;
    margin-bottom: 0.5rem;
    font-size: 1.9rem;
  }

  .btn-trythisapp:hover,
  .btn-trythisapp:active {
    padding: 0.8rem 1.8rem;
    font-size: 1.9rem;
  }
}
