.dashboard {
  background-color: rgb(31, 12, 5);
  width: 100%;  
  margin-bottom: 0.4rem;
  border-radius: 5px;  
  padding-top: 0.4rem; 
  position: relative;      
}

.dashName {
  position: absolute;
  font-size: 0.6rem;
  left: 10px;
  top: -28px;
  color: #fff;
}

.graphName {
  position: absolute;
  font-size: 0.4rem;
  left: 10px;
  top: -5px;
  color: #fff;
}

.typeCharName {
  position: absolute;
  font-size: 0.3rem;
  right: 17px;
  top: -2px;
  color: #fff;
}

.descGraph {
  position: absolute;
  font-size: 0.2rem;
  left: 17px;
  top: 122px;
  color: rgb(180, 180, 180);
}

.dashButtons {
  position: absolute;
  right: 8px;
  top: -22px;
}

.monthlyBtn, .weeklyBtn, .dailyActive {
  font-size: 0.5rem;
  color: rgb(180, 180, 180);
  background-color: black;
  border: none;
  font-weight: 700;
}

.dashButtons button:hover {
  background-color: rgb(51, 51, 179);
  color: #fff;
  cursor: pointer;
  border: none;
}

.active {
  background-color: rgb(51, 51, 179);
  color: #fff;
}