body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;

  background: radial-gradient(circle, rgb(5, 5, 58) 0%, rgb(110, 108, 143) 100%);
  animation: bg-gradient 5s ease infinite;
  background-size: 400% 400%;
}

@keyframes bg-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
