body {
  margin: 0;
  padding: 0;  
  width: 100vw;
  overflow-x: hidden;

  background: rgb(75, 91, 170);
  background: radial-gradient(
    circle,
    rgb(117, 128, 185) 0%,
    rgba(0, 0, 70, 1) 100%
  );

  background-size: 200% 200%;
 
}
